/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

html {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  justify-content: center; 
=======
  justify-content: center;
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'sans-serif';
  font-variation-settings: var(--font-weight-text);
  background-color: var(--main-background-color);
  color: var(--color-text, #000);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-style: var(--font-style);
  font-weight: var(--font-weight-text);
  width: 700px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-height: 368px;
  border: 2px solid var(--color-text, #000);
  background: var(--main-background-color, #FFF);
  margin: 100px 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
  line-height: normal;
}

.header_logo {
  padding-top: calc(clamp(7.5rem, 4.923vw + 6.346rem, 8.5rem));
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header_title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin-block-start: 20px;
}

.theme-menu {
  font-size: 14px;
  padding-top: 24px;
  margin-right: -20px;
  padding-bottom: 14px;
}

.theme-menu__item {
  padding-bottom: 11px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
}

.content {
<<<<<<< HEAD

}

.card_list {
  border: 2px solid var(--color-text, #000);
  background: var(--main-background-color, #FFF);
  position: relative;
  margin-block-end: 49px;
=======
  border: 2px solid var(--color-text, #000);
  background: var(--main-background-color, #FFF);
  position: relative;
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.content_paragraf {
  border-bottom: 2px solid var(--color-text, #000);
  font-size: 18px;
  font-weight: var(--font-weight-title);
<<<<<<< HEAD
  line-height: 21.78px;
  padding: 5px 24px 3px 10px;
}

.content_img {
  display: block;
  width: 100%;
  /* border-bottom: 2px solid var(--color-text, #000); */
=======
  line-height: 21px;
  padding: 6px 27px 6px 10px;
}

.content_img {
  width: 100%;
  border-bottom: 2px solid var(--color-text, #000);
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.content_label_text {
  position: absolute;
  top: 60px;
  right: 25px;
  color: var(--color-text, #000);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--main-background-color, #FFF);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.content_text {
<<<<<<< HEAD
  border-top: 2px solid var(--color-text, #000);
  font-size: 18px;
  line-height: 21px; 
  padding: 26px 23px 27px 26px;
  /* padding-top: 25px;
  padding-top: 25px;
  padding-right: 25; 
  padding-right: 27; 
  padding-bottom: 27px;
  padding-bottom: 27px;
  padding-left: 25px;
  padding-left: 25px; */
}

@media (max-width: 400px){
  .content_text {
    padding: 28px 24px 25px 27px;
  }
=======
  font-size: 18px;
  line-height: 21px; 
  padding: 20px 25px;
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.content_text_remember {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px; 
<<<<<<< HEAD
  padding: 0px 25px 20px 25px;
=======
  padding: 7px 25px 0px;
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.content_style_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;    
<<<<<<< HEAD
  padding-right: 25px;
  padding-bottom: 22px;
=======
  padding: 21px 25px;
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-block-start: 7px;   
}
 
.like-icon {
  transition: 0.3s;
  transform-origin: center;
  fill: var(--color-text, #000);
}

.button {
  background-color: transparent;
  border: 2px solid var(--color-text, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  position: relative;
} 

.card__like-button {
  width: 130px;
  height: 38px;
  outline: none;
}

.button__text {
  font-size: 14px;
  line-height: 12.6px;
  font-family: var(--accent-font);
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  color: var(--background-color-text, #FFF);
} 

footer {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  margin: 31px;
=======
  margin: 48px;
>>>>>>> e9ac4efa37002edc43867e45b8c80925bb0884d6
}

.button_title {
  width: 272px;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}


.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}


.button_save {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  padding: calc(clamp(1rem, 0vw + 1rem, 1rem));
  background-color: var(--main-background-color, #FFF);
  gap: 8px;
}

dialog[open] {
  display: grid;
  background-color: var(--main-background-color, #FFF);
  color: var(--color-text, #000);
  grid-template-columns: 70px 240px;
  grid-template-rows: 63px;
  align-items: center;
  width: 353px;
  height: 191px;
  padding: 30px;
  overflow: hidden;
}

.dialog_button {
  border: none;
  background-color: transparent;
  height: 39px;
  width: 39px;
}

.dialog_text {
  width: 234px;
  height: 63px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog_close {
  background-color: transparent;
  width: 293px;
  height: 38px;
  border: 2px solid var(--color-text, #000);
  margin-top: 30px;
  cursor: pointer;
}  
