/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'sans-serif';
  font-variation-settings: var(--font-weight-text);
  background-color: var(--main-background-color);
  color: var(--color-text, #000);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-style: var(--font-style);
  font-weight: var(--font-weight-text);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 696px;
  min-height: 364px;
  border: 2px solid var(--color-text, #000); 
  background: var(--main-background-color, #FFF);
  margin: 102px 372px 0px; 
  font-family: var(--accent-font), 'sans-serif';
  text-transform: uppercase;
  line-height: normal;
}
/* тег h1 */
.page_logo {
  font-size: clamp(3.0625rem, 0rem + 14.2857vw, 4.0625rem);
  margin-block-end: 20px; 
}
/* Надпись в шапке */
.page_title {
  font-size: clamp(0.875rem, 0rem + 6.6667vw, 1.4375rem);
  margin-block-end: 25px;
}
/* Навигация меню */
.theme-menu {
  font-size: 14px;
}

.header__theme-menu {

}

.theme-menu__list {

}
/* Список навигации */
.theme-menu__item {
  margin-block-end: 14px;
}
/* Кнопка меню День, Ночь */
.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
}
/* Активная кнопка меню */
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
/* Стрелочка у пункта меню  */
.theme-menu__button:disabled::before  {
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: -15px;
  content: '▶';
  width: 16px;
  pointer-events: none;
  animation: moving_arrow 0.5s infinite ease-in-out;
  animation-direction:alternate;
}

@keyframes moving_arrow {
  0% {
    left: -15px;
  }

  100% {
    left: -11px;

  }
}

/* Фокус на кнопке меню */
.theme-menu__button:hover:disabled  {
  opacity: 0.6;
  pointer-events: none; 
}

/* Активная кнопка меню */
.theme-menu__button:active {
  opacity: 0.6;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6; 
}  

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

/* Нижнее подчеркивание у кнопок */
.theme-menu__button::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 2px; 
  background-color: var(--color-text, #000);
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scaleX(1);
}

/* Контент страницы */
.content {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-text, #000);     
  background: var(--main-background-color, #FFF);
  width: 696px;
  height: 951px; 
  margin: 107px 372px 54px;
  position: relative;
  box-sizing: content-box;
}
/* Надпись сверху картинки */
.content_paragraf {
  border-bottom: 2px solid var(--color-text, #000);  
  height: 31px;
  width: 696px;
  font-size: 18px;
  font-weight: var(--font-weight-title);
  line-height: normal;
}
/* Общий клас на картинкку */
.content_label {

}
/* Стили у картинки */
.content_img {
  width: 696px;  
  border-bottom: 2px solid var(--color-text, #000); 
}
/* Стили для надпись на картинке */
.content_label_text {
  position: absolute;
  top: 35px;
  right: 25px;
  color: var(--color-text, #000);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: var(--main-background-color, #FFF);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light; 
}
/* Надписи внизу картинки */
.content_text {
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  padding: 27px 25px;  
}

/* Место для ваших воспоминаний */
.content_text_remember {
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  padding: 0px 25px 25px;
}

/* Секция кнопки с сердцем */
.style_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 12px; 
} 

/* Блок кнопки с сердцем */
.card__icon-button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-text, #000);
  transition: 0.3s ease;
  height: 38px; 
}

.like-icon {
  transition: 0.3s; 
  transform-origin: center;
  fill: var(--color-text, #000);
} 

.like-icon:hover .core {
  fill: var(--color-text, #000);
} 

.like-icon:not(:hover) .core {
  fill: var(--main-background-color, #FFF);
  transition-delay: 0.03s;
} 

.like-icon:hover .main-body {
  fill: var(--color-text,#000); 
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .main-body {
  fill: var(--main-background-color, #FFF);
}   

.like-icon:active .core {fill: var(--filling, #FF0000);}
.like-icon:active .main-body {fill: var(--filling, #FF0000);} 
.like-icon.is-liked .core {fill: var(--filling, #FF0000);} 
.like-icon.is-liked .main-body {fill: var(--filling, #FF0000);} 

.like-icon.is-liked .contour {
  fill: var(--filling, #FF0000);
  transition-delay: 0.06s; 
}  

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s alternate;
  transform-origin: center;
} 

@keyframes like {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
  }
} 

.sparks {
  opacity: 0;
}
 
.like-icon.is-liked .sparks {
  animation: liked 0.3s ease-in 0.3s alternate;
}

@keyframes liked {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}  

.like-icon:not(.is-liked)  {
  fill: none;
  transition: 0.1s;
}    
 
/* Блок кнопки рядом с лайком */
.button {
  background-color: transparent;
  border: 2px solid var(--color-text, #000);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%; 
  position: relative;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-text, #000);
  transition: 0.3s ease-in-out;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  top:0px ; right:0px ;
  background-color: var(--color-text, #000);
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
} 

.button:hover::after {
  transform: scaleX(1);
} 

.card__like-button {
  width: 130px;
  height: 38px; 
  padding: 9px 17px; 
  gap: 10px;
  outline: none;
}

.button__text {
  z-index: 1;
  position: relative;
  height: 51px;
  mix-blend-mode: difference;
  color: var(--background-color-text, #FFF); 
}

.button__symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_save {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 55px;
  background-color: var(--main-background-color, #FFF);
  margin: 54px 180px; 
  gap: 8px;
} 

dialog[open] {
  display: grid;
  grid-template-columns: 70px 240px;
  grid-template-rows: 63px;
  align-items: center;
  width: 353px;
  height: 191px;  
  padding: 30px;
  overflow: hidden;
}

dialog::backdrop {
  background: #000;
  opacity: 75%;
  scrollbar-width: none;
}

.dialog_button {
  border: none;
  background-color: transparent;
  height: 39px;
  width: 39px;
}  

.dialog_text {
  width: 234px;
  height: 63px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}  

.dialog_close {
  background-color: transparent; 
  width: 293px;
  height: 38px;  
  border: 2px solid var(--color-text, #000);
  margin-top: 30px;
  cursor: pointer;
}