/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P-Regular';
    --font-style: normal ;
    --font-weight-text: 400;
    --font-weight-title: 700;
    --font-weight-table: 400;
    --main-background-color: #FFF;
    --background-color-text: #FFF;
    --color-text:  #000;
    --name: #000;
    --filling: #FF0000;
    --background-image:
    repeating-linear-gradient( #d3d3d3, transparent 2px),
    repeating-linear-gradient(90deg, #d3d3d3, transparent 2px),
    linear-gradient(180deg, #E7E7E7, #1A1A1A);
}
